
* {box-sizing: border-box;}

body { 
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
   font-family: Arial, Helvetica, sans-serif; 
   text-align: center;
   color: black;'
}
.content {
	height: 90%;
	width: 300px;
} 
#todoIMG {
	max-height: 50px;
	width: auto;
	margin-bottom: 15px;
}
.header {
	 overflow: hidden;
 	 background-color: #5588a3;
 	 /*padding: 20px 10px;*/
  	 max-height: 20%;
}
.footer {
	height:40px;
	width:100%;
	position:fixed;
	bottom: 0;
    text-align: center;
	/*background-color: #5588a3;*/
	font-style: italic;
	color: black;
  	padding: 20px 10px;
  	margin-bottom: 5px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 15%;
  margin-right: 5px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header a:hover {
  background-color: #e8e8e8;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.head
{
color: #e8e8e8;
display: inline-block;
/*  font-family: cursive;
 */}
.form-container {
  border: 0 px solid;
  padding: 30px 20px;
  margin-top: 5vh;
/*
  -webkit-box-shadow: -2px 7px 19px 9px rgba(128,0,0,1);
  -moz-box-shadow: -2px 7px 19px 9px rgba(128,0,0,1);
  box-shadow: -2px 7px 19px 9px rgba(128,0,0,1);
*/
  background-color: white;
}
.list {
  width: 100%;
  height: auto;
}
.btn{        
       font-size: 16px;
       font-weight: bold;
	background: #5588a3;
	border: none;
	min-width: 140px;
	color: #e8e8e8;
}
#todoTable > tbody > tr > td {
	word-wrap: break-word;
}

.btn-custom {
	min-width: 0px;
	min-height: 0px;
	margin: 0;
	padding-top: 3px;
}
@media (min-width: 768px){
	.col-sm-4-out {
	    width: 15%;
	}
	.col-sm-4-mid {
	 	width: 70%;
	}
}
#signin {
	font-family:  Candara, Calibri, Cambria, sans-serif;
}