
/* <!-- Header and Footer -->*/
* {box-sizing: border-box;}
html {	
}
body { 
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
   font-family: Arial, Helvetica, sans-serif; 
}
#todoIMG {
	max-height: 50px;
	width: auto;
	margin-bottom: 15px;
}
.header {
	 overflow: hidden;
 	 background-color: #5588a3;
 	 /*padding: 20px 10px;*/
  	 max-height: 75px;
}
.footer {
	height:40px;
	width:100%;
	position:fixed;
	bottom: 0;
    text-align: center;
	/*background-color: #5588a3;*/
	font-style: italic;
	color: black;
  	padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.head
{
color: #e8e8e8;
display: inline-block;
font-family: cursive;
}
.form-container {
  border: 0 px solid;
  padding: 40px 50px;
  margin-top: 5vh;
/*
  -webkit-box-shadow: -2px 7px 19px 9px rgba(128,0,0,1);
  -moz-box-shadow: -2px 7px 19px 9px rgba(128,0,0,1);
  box-shadow: -2px 7px 19px 9px rgba(128,0,0,1);
*/
  background-color: white;
}
.list {
  width: 100%;
  height: auto;
}
.btn{        
       font-size: 16px;
       font-weight: bold;
	background: #5588a3;
	border: none;
	min-width: 140px;
}